In [1]:
#Import standard libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Set up path for easy_ham
path1 = os.listdir("C:/Users/Owner/OneDrive/Documents/DS7333 Quantifying the World/Case Study 3/easy_ham")

In [3]:
#loop to import easy_ham
x = []

for i in path1:
    with  open(os.path.join("C:/Users/Owner/OneDrive/Documents/DS7333 Quantifying the World/Case Study 3/easy_ham", i), 'r', encoding = "cp437") as f:
        x.append(f.read())

In [4]:
#Create easy_ham dataframe
y = [0]*len(x)

dfEH = pd.DataFrame(list(zip(x, y)), columns =['text', 'target']) 
dfEH.head()

                                                text  target
0  From exmh-workers-admin@redhat.com  Thu Aug 22...       0
1  From Steve_Burt@cursor-system.com  Thu Aug 22 ...       0
2  From timc@2ubh.com  Thu Aug 22 13:52:59 2002\n...       0
3  From irregulars-admin@tb.tf  Thu Aug 22 14:23:...       0
4  From Stewart.Smith@ee.ed.ac.uk  Thu Aug 22 14:...       0

In [5]:
#Set up path for easy_ham_2
path2 = os.listdir("C:/Users/Owner/OneDrive/Documents/DS7333 Quantifying the World/Case Study 3/easy_ham_2")

In [6]:
#loop to import easy_ham_2
x = []

for i in path2:
    with  open(os.path.join("C:/Users/Owner/OneDrive/Documents/DS7333 Quantifying the World/Case Study 3/easy_ham_2", i), 'r', encoding = "cp437") as f:
        x.append(f.read())

In [7]:
#Create easy_ham_2 dataframe
y = [0]*len(x)

dfEH2 = pd.DataFrame(list(zip(x, y)), columns =['text', 'target']) 
dfEH2.head()

                                                text  target
0  Return-Path: <exmh-workers-admin@spamassassin....       0
1  From exmh-workers-admin@redhat.com  Wed Aug 21...       0
2  From exmh-workers-admin@redhat.com  Wed Aug 21...       0
3  From exmh-workers-admin@redhat.com  Wed Aug 21...       0
4  From exmh-workers-admin@redhat.com  Wed Aug 21...       0

In [8]:
#Set up path for spam
path3 = os.listdir("C:/Users/Owner/OneDrive/Documents/DS7333 Quantifying the World/Case Study 3/spam")

In [9]:
#loop to import spam
x = []

for i in path3:
    with  open(os.path.join("C:/Users/Owner/OneDrive/Documents/DS7333 Quantifying the World/Case Study 3/spam", i), 'r', encoding = "cp437") as f:
        x.append(f.read())

In [10]:
#Create spam dataframe
y = [0]*len(x)

dfS = pd.DataFrame(list(zip(x, y)), columns =['text', 'target']) 
dfS.head()

                                                text  target
0  From 12a1mailbot1@web.de  Thu Aug 22 13:17:22 ...       0
1  From ilug-admin@linux.ie  Thu Aug 22 13:27:39 ...       0
2  From sabrina@mx3.1premio.com  Thu Aug 22 14:44...       0
3  From wsup@playful.com  Thu Aug 22 16:17:00 200...       0
4  From social-admin@linux.ie  Thu Aug 22 16:37:3...       0

In [11]:
#Set up path for spam_2
path4 = os.listdir("C:/Users/Owner/OneDrive/Documents/DS7333 Quantifying the World/Case Study 3/spam_2")

In [12]:
#loop to import spam_2
x = []

for i in path4:
    with  open(os.path.join("C:/Users/Owner/OneDrive/Documents/DS7333 Quantifying the World/Case Study 3/spam_2", i), 'r', encoding = "cp437") as f:
        x.append(f.read())

In [13]:
#Create spam_2 dataframe
y = [0]*len(x)

dfS2 = pd.DataFrame(list(zip(x, y)), columns =['text', 'target']) 
dfS2.head()

                                                text  target
0  From ilug-admin@linux.ie  Tue Aug  6 11:51:02 ...       0
1  From lmrn@mailexcite.com  Mon Jun 24 17:03:24 ...       0
2  From amknight@mailexcite.com  Mon Jun 24 17:03...       0
3  From jordan23@mailexcite.com  Mon Jun 24 17:04...       0
4  From merchantsworld2001@juno.com  Tue Aug  6 1...       0

In [14]:
#Combine all dataframes
data = [dfEH, dfEH2, dfS, dfS2]

df = pd.concat(data)

df.shape

(8852, 2)